<% provide(:title, 'Home') %>
<% provide(:name, 'Home Page') %>

<style>
	.blue_strip{
		background: #FFFFFF
	}
</style>



<div class="blue_strip">
	<%= link_to image_tag("jotbot.png", alt: "JOT"), 'http://www.jotautomation.com' %>

	<div class"center hero-unit">
	<%= link_to "Sign Up!", "#", class: "btn btn-large btn-primary", style: "color:#0000FF"%>
</div>

</div>
<p></p>
