<%provide(:title,'New Eqipment')%>
<%provide(:name,'Create new Equipment')%>

<% if signed_in? %>
	
	<p>
	<%= link_to 'Back', equipment_index_path %>
	</p>

	<%= render 'form' %>

<% else %>
	You are not Authorized!
<% end %>



