<%provide(:title,'New Eqipment')%>
<%provide(:name,'Create new Equipment')%>
<<<<<<< HEAD
<%provide(:link1, equipment_index_path)%>
=======
<% provide(:lname1, 'Equipment list')%>
<% provide(:link1, equipment_index_path)%>
<% provide(:lname2, 'Reports list')%>
<% provide(:link2, reports_path)%>
<% provide(:lname3, 'Create New Report')%>
<% provide(:link3, new_report_path)%>
>>>>>>> static_pages


<%= render 'form' %>

<<<<<<< HEAD
<li><%= link_to 'Back', equipment_index_path %></li>
=======
>>>>>>> static_pages
