<% provide(:title, 'New Report')%>
<% provide(:name,'New Incident Report')%>

<% if signed_in? %>

<p>
	<%= link_to 'Back', reports_path %>
</p>

<%= render 'form' %>

<% else %>
	You are not Authorized!
<% end %>



