<footer class="footer">
  <small>
  	<strong>Jot Customer service report</strong>
  	by Pavel Svirida
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://jotautomation.com">Jot News</a></li>
    </ul>
  </nav>
</footer>